<?xml version="1.0"?>

<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find segway_gazebo)/launch/segway_empty_world.launch">
    <arg name="world_name" value="$(find segway_gazebo)/worlds/clearpath_playpen.world"/>
  </include>

</launch>
