scan_filter_chain:
- type: laser_filters/ScanShadowsFilter
  name: shadows
  params:
    min_angle: 0
    max_angle: 175
    neighbors: 5
    window: 1
- type: laser_filters/LaserScanRangeFilter
  name: range
  params: 
    lower_threshold: 0.05
    upper_threshold: 20.0
- type: laser_filters/LaserScanIntensityFilter
  name: intensity
  params: 
    lower_threshold: 100
    upper_threshold: 10000
    disp_histogram: 0
- type: range_sensor_filters/LaserScanFootprintFilter
  name: footprint_filter
  params:
    base_frame: /segway/base_link
    footprint: [0.5525,-0.421,0.5525,0.421,-0.5525,0.421,-0.5525,-0.421,0.5525,-0.421]

