<!-- 2D Map navigation Demo -->

<launch>
    <arg name="map_file" default="garage_map"/>
    <arg name="use_waypoints" default="false"/>
    <arg name="balancing_enabled" default="$(optenv SEGWAY_RUNS_IN_BALANCE_MODE false)"/>
    <arg name="robot_name" default="$(optenv SEGWAY_PLATFORM_NAME RMP210)"/>
    <arg name="sim" default="false"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find segway_navigation_apps)/maps/$(arg map_file).yaml" />

    <!-- Run segway_move_base action client for tracking status -->
    <node pkg="segway_ros" name="segway_move_base" type="segway_move_base" output="screen" clear_params="true"> 
        <param name="using_amcl" value="true"/>
        <param name="global_frame" value="/map"/>
        <param name="goal_timeout_sec" value="300"/>
        <param name="platform_mode" value="tractor" unless="$(arg balancing_enabled)"/>
        <param name="platform_mode" value="balance" if="$(arg balancing_enabled)"/>
        <param name="load_waypoints" value="$(arg use_waypoints)"/>
        <param name="sim" value="$(arg sim)"/>
    </node>
       
    <!--- Run amcl -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen" clear_params="true">
        <rosparam command="load" file="$(find segway_navigation_apps)/config/$(arg robot_name)/amcl.yaml"/>
        <remap from="scan" to="/segway/filtered_scan" />
    </node>

    <!--- Run Move Base -->
    <include file="$(find segway_navigation_apps)/launch/move_base.launch">
        <arg name="no_static_map" value="false"/>
        <arg name="use_dwa" value="true"/>
    </include>

</launch>
